//-partials은 홈페이지의 일부분만 가져옴div

//- footer라는 tag에 footer라는 클래스 정의
footer.footer
    .footer_icon    
        i.fab.fa-youtube
                //- <i class="fab fa-youtube"></i>
                //-div.footer_icon이라는 뜻.
        div.footer_text #{siteName}  #{new Date().getFullYear()} &copy;
        //- &copy는 browser에서 '©' 문자를 의미 
            #{} 와 ${} 의 차이.
            화면에 띄워줄 '텍스트' = #을 사용한다, 하지만 url의 변수삽입 혹은 변수url + 변수url은 ${}을 사용해야한다div
            changePassword와 edit profile참조할 것.