
header.header
    .header_column
        a(href=routes.home)
            i.fab.fa-youtube.fa-2x
            span YTube
        
    .header_column
        form(action=routes.search, method ="get")
            input(type="text", placeholder = " Search by term...", name ="input")
    .header_column
        //- html에선 js를 통해 if else해야하지만, pug에서는 호환에서는 가능!
        ul
            if loggedUser

                li
                    a(href=routes.userDetail(loggedUser.id))                     
                        img(src=`/${loggedUser.avatarUrl}`)
                        p Profile

                li 
                    a(href = `${routes.videos}${routes.upload}`) Upload
                li
                    a(href=routes.logout) LogOut

            else
            
                li
                    a(href=routes.join) Join
                li
                    a(href=routes.login) Login
