extends layouts/main
include mixins/videoPlayer

block content
    .video
        .video_player   
            +videoPlayer({
                src:video.fileUrl
            })
            if loggedUser
                if  String(video.creator._id) == loggedUser._id
                    a(href=routes.editVideo(video._id)) 
                        i.fas.fa-edit
                        span edit video
            
            h1=video.title
            a(href=routes.userDetail(video.creator._id))
                span 작성자 #{video.creator.name}
            span 조회수 #{video.views}회
            p 내용 
            .video_player_text 
                span #{video.description}
                
                
            .video_comment_write
                if loggedUser
                    .video_comment_write_user
                        img(src=`/${loggedUser.avatarUrl}`)
                        span #{loggedUser.name}

                    .video_comment_write_comment
                    form
                        input(type="text",name="comment",require=true, placeholder="write comment..", cols=40, rows=3, autofocus)
                        button.addCommentBtn(value="Write Comment")
                            i.fas.fa-edit

                
            .video_comment
                .video_comment_view
                if videoComment.length === 1
                    span 1 comment
                else
                    span #{videoComment.length} comments
                .video_comment_body 
                    each comment in comments
                        .video_comment_body_one
                            .video_comment_body_one_user
                                a(href=routes.userDetail(comment.creator_id))
                                    img(src=`/${comment.avatarUrl}`)
                                    span #{comment.name}
                                .video_comment_body_one_user_text
                                    .comment_text 
                                        span  &nbsp;&nbsp;&nbsp;&nbsp; #{comment.text}
                                    .editButton
                                        button.editCommentBtn(id=comment.comment_id)
                                            i.fas.fa-edit
                                    form()
                                        button.deleteCommentBtn(id=comment.comment_id)
                                             i.fas.fa-times
                                        



